<% if thing.address || thing.coords %>
  <section id="where"<%= " data-map=\"true\" data-lat=\"#{thing.lat}\" data-lng=\"#{thing.lng}\"".html_safe if thing.coords %>>
    <%
      output = []
      output << content_tag(:small, "#{thing.distance_to(current_user).round(1)} kms away") if thing.coords && current_user.coords && thing.class.name == "Event"
 
      if (thing.address && thing.respond_to?(:hide_specific_location) && !thing.hide_specific_location) || (thing.address && !thing.respond_to?(:hide_specific_location))|| (thing.address && thing.respond_to?(:hide_specific_location) && (current_user.events.include?(thing) || current_user.has_role?(:admin)))
     	output << with_br(thing.address)
      else 
      	output << "Address shown only to attendees"
      end
      output << "<a href='#' class='button open-map'>Show Map</a>"
    %>
    <%= output.join('<br>').html_safe if output.any? %>
  </section>
  <script src="https://open.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=cYOondyn4ktJAf7frbiVD5jkdGNASuf0"></script>
<% end %>