Hi <%= @user.fname %>, 
<br /> <br /> 
Thank you so much for offering to share the bounty of your tree this summer!
<br /> <br />  
This year we are scheduling picks through Not Far From the Tree’s online picking portal to let our lead volunteers claim picks faster. As a tree registrant, you now have access to your tree profile where you can update your tree information and provide us with dates and times you would prefer we schedule a fruit pick.
 <br /> <br /> 
You can log into the portal at any time. First, click the link below to provide this email, then recieve instructions to set your new password. 
<br /> <br /> 
<a href="<%=root_url %>users/password/new">Let's set my password</a>
<br /><br /> 
If you aren’t interested in us picking your tree this year or have no fruit this season, please let us know here. 
<br /> <br /> 
Fruitfully Yours, <br /> 
Not Far From The Tree